In [1]:
# Wap 1-10 multiplication table
#n = int(input("enter a number"))
for i in range(1,11):
    print(f' Multiplication of {i} is : ')
    if i == 7:break
    for j in range(1,11): # Nested loop
        print(f' {i} * {j} = {i * j}')
        #print('\t')
        
print('\n')

 Multiplication of 1 is :
 1 * 1 = 1
 1 * 2 = 2
 1 * 3 = 3
 1 * 4 = 4
 1 * 5 = 5
 1 * 6 = 6
 1 * 7 = 7
 1 * 8 = 8
 1 * 9 = 9
 1 * 10 = 10
 Multiplication of 2 is :
 2 * 1 = 2
 2 * 2 = 4
 2 * 3 = 6
 2 * 4 = 8
 2 * 5 = 10
 2 * 6 = 12
 2 * 7 = 14
 2 * 8 = 16
 2 * 9 = 18
 2 * 10 = 20
 Multiplication of 3 is :
 3 * 1 = 3
 3 * 2 = 6
 3 * 3 = 9
 3 * 4 = 12
 3 * 5 = 15
 3 * 6 = 18
 3 * 7 = 21
 3 * 8 = 24
 3 * 9 = 27
 3 * 10 = 30
 Multiplication of 4 is :
 4 * 1 = 4
 4 * 2 = 8
 4 * 3 = 12
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 4 * 7 = 28
 4 * 8 = 32
 4 * 9 = 36
 4 * 10 = 40
 Multiplication of 5 is :
 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50
 Multiplication of 6 is :
 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 6 * 10 = 60
 Multiplication of 7 is :

In [2]:
for i in range(1,11):
    print(f' Multiplication of {i} is : ')
    for j in range(1,11):
        print(f'{i} * {j} = {i*j}')
        
print('\n')

 Multiplication of 1 is :
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
 Multiplication of 2 is :
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
 Multiplication of 3 is :
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
 Multiplication of 4 is :
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
 Multiplication of 5 is :
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
 Multiplication of 6 is :
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
 Multiplication of 7 is :
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
 Multiplication of 8 is :
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
 Multiplication of 9 is :
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
 Multiplication of 10 is :
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [3]:
# print star pattern
n = int(input('enter a no.'))
for i in range (1,n):
    print(i*'*', end ='')
    print()

enter a no. 7

*
**
***
****
*****
******

In [4]:
n = int(input('Enter a Number'))
for i in range(1,n):
    print(i*'*', end = '')
    print()

Enter a Number 9

*
**
***
****
*****
******
*******
********

In [5]:
n = int(input('enter a no.'))
for i in range (n,0,-1):
    print(i*'*', end ='')
    print()

enter a no. 7

*******
******
*****
****
***
**
*

In [6]:
# print number 0- -10
for i in range (0,-10,-1):
    print(i, end = '\t')

0	-1	-2	-3	-4	-5	-6	-7	-8	-9

In [7]:
# print sum of no 1 - 10 using for loop

total = 0
for num in range(1,11):
    total = total + num

print(total)
# Logic
# 0 1 = 1
# 1 2 = 3
# 3 3 = 6
# 6 4 = 10 & so on...

55

In [8]:
total = 0
for num in range(1,11):
    total +=  num

print(total)

55

In [9]:
# print numbers 1 - 10 using for loop
for i in range (1, 10,1):
    print(i, end = '\t')

1	2	3	4	5	6	7	8	9

In [10]:
# print odd numbers from 1 - 10 using for loop
for i in range (1,10,2):
    print(i, end = '\t')

1	3	5	7	9

In [11]:
# print even numbers from 1 -10 
for i in range (0,10,2):
    print(i, end = '\t')

0	2	4	6	8

In [12]:
# print the first 5 multiples of 5 using a for loop
for i in range (1,6):
    print(i * 5 , end = '\t')

5	10	15	20	25

In [13]:
# print the sum of number from 1 -10 using a for loop
total = 0
for num in range(1,11):
    total = total + num

print(total)

55

In [14]:
# print the first 10 multiples of 3
for i in range (1,11):
    print(i * 3 , end = '\t')

3	6	9	12	15	18	21	24	27	30

In [15]:
# print the product of number from 1 to 5 

for i in range(1,6):
    if  i == 3 : break
    print('\n')
    for j in range(1,11):
        print(f' {i} * {j} = {i * j}')

 1 * 1 = 1
 1 * 2 = 2
 1 * 3 = 3
 1 * 4 = 4
 1 * 5 = 5
 1 * 6 = 6
 1 * 7 = 7
 1 * 8 = 8
 1 * 9 = 9
 1 * 10 = 10


 2 * 1 = 2
 2 * 2 = 4
 2 * 3 = 6
 2 * 4 = 8
 2 * 5 = 10
 2 * 6 = 12
 2 * 7 = 14
 2 * 8 = 16
 2 * 9 = 18
 2 * 10 = 20

In [5]:
# print the factorial of 5 using a for loop
fact = 2
for i in range (1,5):
    fact = fact * i
print(fact)

48

In [3]:
fact = 5
for i in range(1,5):
    fact = fact * i

print(fact)

120

In [17]:
# print the fibonacci sequence up to 10 using for loop
# sum of last number is the next number in series
user = int(input("enter"))
a,b= 0,1
for i in range(1,user+1):
    print(a) #0 #1 #1 #2
    c = a + b #1 #1 #2
    b=a  #0 #1 #1
    a=c #1 #1 #2

enter 11

0
1
1
2
3
5
8
13
21
34
55

In [7]:
i = [i for i in range(1,50)]
print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [18]:
i = [x for x in range(1,100)]
print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [19]:
import random 
random_numbers = [random.randint(1,111) for i in range(100)]
even = [i for i in random_numbers if i%2==0]
print(even)

[24, 84, 32, 44, 8, 92, 32, 20, 92, 82, 28, 8, 8, 90, 44, 78, 18, 34, 82, 56, 62, 110, 34, 36, 60, 100, 70, 108, 34, 52, 18, 34, 96, 110, 20, 56, 28, 42, 26, 78, 82, 50]

In [20]:
string = "HelloWorld"
lst = list(range(100))

lst2 = [Letter for Letter in string]

lst3 = [i * 2 for i in lst]

print('Hello world string')
print(lst)

print('list of first 100 no.')
print(lst2)

print('list of first 100 no. * 2')
print(lst3)

Hello world string
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
list of first 100 no.
['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']
list of first 100 no. * 2
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

In [21]:
even = [i for i in range(100) if i%2==0]
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [22]:
guests = [random.randint(1,90) for i in range(100)]
entry = [i for i in guests if i >=18]
print(entry)

[19, 49, 90, 63, 83, 76, 74, 85, 88, 84, 84, 66, 85, 32, 90, 22, 28, 53, 59, 18, 67, 74, 60, 75, 47, 66, 68, 36, 69, 33, 65, 70, 25, 90, 70, 58, 84, 53, 65, 74, 79, 29, 30, 87, 87, 81, 29, 33, 38, 50, 42, 30, 34, 55, 76, 59, 48, 68, 32, 86, 57, 90, 87, 72, 59, 31, 36, 69, 56, 54, 42, 71, 35, 61, 24, 26, 39, 64]

In [23]:
import random

number = [random.randint(200,301) for _ in range(100)]
mult_6 = [i for i in  number if i%6 == 0]
print(mult_6)
print('\t')
mult_11 = [i for i  in number if i%11 == 0]
print(mult_11)
print('\t')
print(number)

[294, 234, 264, 228, 294, 204, 294, 216, 294, 234, 258, 246, 222, 234, 204, 288, 270, 210]

[264, 231, 231, 286, 209, 253, 286]

[294, 237, 271, 244, 234, 233, 267, 264, 296, 278, 235, 233, 250, 238, 228, 214, 255, 294, 278, 231, 202, 290, 290, 280, 299, 205, 295, 224, 204, 294, 244, 243, 231, 223, 243, 216, 286, 281, 245, 205, 233, 257, 256, 267, 223, 294, 227, 234, 207, 236, 258, 298, 246, 298, 230, 280, 265, 279, 237, 222, 206, 234, 283, 291, 257, 209, 204, 215, 224, 211, 288, 259, 283, 262, 298, 250, 266, 253, 270, 271, 268, 286, 269, 274, 207, 262, 251, 229, 279, 215, 290, 281, 236, 251, 210, 267, 247, 291, 229, 247]

# WHILE LOOPS

In [25]:
counter = 0
while counter <=10:
    print(counter, end = '')
    counter+=1

012345678910

In [26]:
counter = 10
while counter >=0:
    print(counter, end ='')
    counter-=1

109876543210

In [27]:
string = 'Hello ! hey there i am using wp'
reversed_string = ''
size = len(string)

while True:
    if size == 0:break
    reversed_string = reversed_string + string[size-1]
    size-=1
    
print(reversed_string)

pw gnisu ma i ereht yeh ! olleH

In [28]:
string = 'Hi Good evening all'
reversed_string = ''
size = len(string)

while True:
    if size == 0 : break
    reversed_string = reversed_string + string[size-1]
    size -= 1

print(reversed_string)

lla gnineve dooG iH

In [29]:
import random
number = random.randint(1,100)
chances = 3
print(number)

while True:
    n = int(input('enter a number'))
    if n == number:
        print('You Won')
        break
    elif chances == 1:
        print('You are out of chance')
        break
    elif n < number:
        pass
    elif n > number:
        pass

50

enter a number 50

You Won

In [30]:
sum = 0
for i in range(1,30):
    if i%3 == 0:
        sum += i
print(sum)

135

In [31]:
count = 0
for i in range(1,100):
    if i % 5 == 0:
        count+=1

print(count)

19

In [32]:
number = 9
for i in range(1,11):
    print(f'{i} * {j} = {i*j}')

1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90
10 * 10 = 100

In [33]:
#Python program to count the total number of digits in a number.
number = 89710872166666666666666
# we cannot iterate over an integer
# in python, we need to convert the
# integer into string first using the
# str() function
number = str(number)
count = 0
for i in number:
    count += 1
print(count)

23

In [13]:
string = input('Enter a String')
string == string[1::-1] 

if string :
    print(f" string '{string}' is palindrome")

Enter a String man

 string 'man' is palindrome

In [35]:
#Python program that accepts a word from the user and reverses it.
string = 'Hello World'
reversed_string = ''

for i in string:
    reversed_string = i + reversed_string

print(reversed_string)

dlroW olleH